{% macro move_forward(size) %}
	<a class="btn btn-default btn-block" data-bind="click: moveForward">
		<i class="fa fa-lg fa-arrow-up visible-xs-block"></i>
		<i class="fa fa-2x fa-arrow-up visible-sm-block"></i>
		<i class="fa fa-3x fa-arrow-up visible-md-block"></i>
		<i class="fa fa-5x fa-arrow-up visible-lg-block visible-xl-block"></i>
	</a>
{% endmacro %}

{% macro turn_left(size) %}
	<a class="btn btn-default btn-block" data-bind="click: turnLeft">
		<i class="fa fa-lg fa-arrow-left visible-xs-block"></i>
		<i class="fa fa-2x fa-arrow-left visible-sm-block"></i>
		<i class="fa fa-3x fa-arrow-left visible-md-block"></i>
		<i class="fa fa-5x fa-arrow-left visible-lg-block visible-xl-block"></i>
	</a>
{% endmacro %}

{% macro stop_moving(size) %}
	<a class="btn btn-default btn-block btn-danger" data-bind="click: stopMoving">
		<i class="fa fa-lg fa-close visible-xs-block"></i>
		<i class="fa fa-2x fa-close visible-sm-block"></i>
		<i class="fa fa-3x fa-close visible-md-block"></i>
		<i class="fa fa-5x fa-close visible-lg-block visible-xl-block"></i>
	</a>
{% endmacro %}

{% macro turn_right(size) %}
	<a class="btn btn-default btn-block" data-bind="click: turnRight">
		<i class="fa fa-lg fa-arrow-right visible-xs-block"></i>
		<i class="fa fa-2x fa-arrow-right visible-sm-block"></i>
		<i class="fa fa-3x fa-arrow-right visible-md-block"></i>
		<i class="fa fa-5x fa-arrow-right visible-lg-block visible-xl-block"></i>
	</a>
{% endmacro %}

{% macro move_backward(size) %}
	<a class="btn btn-default btn-block" data-bind="click: moveBackward">
		<i class="fa fa-lg fa-arrow-down visible-xs-block"></i>
		<i class="fa fa-2x fa-arrow-down visible-sm-block"></i>
		<i class="fa fa-3x fa-arrow-down visible-md-block"></i>
		<i class="fa fa-5x fa-arrow-down visible-lg-block visible-xl-block"></i>
	</a>
{% endmacro %}

<div class="directional-pad">
	<div class="container-fluid">

		<div>
			<div class="row">
				<div class="col-xs-3 col-md-2">
					{{ _self.move_forward() }}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3 col-md-2">
					{{ _self.stop_moving() }}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3 col-md-2">
					{{ _self.move_backward() }}
				</div>

				<div class="col-xs-3 col-xs-offset-3 col-md-2 col-md-offset-6">
					{{ _self.turn_left() }}
				</div>
				<div class="col-xs-3 col-md-2">
					{{ _self.turn_right() }}
				</div>
			</div>
		</div>

	</div><!-- / .container-fluid -->

</div>
