<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{% block title %}CATPOO{% endblock %}</title>

		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}">
			<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
			<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		{% endblock %}

		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	</head>
	<body>
		{% block body %}{% endblock %}
		{% block javascripts %}
			<script src="{{ asset('js/jquery.js') }}"></script>
			<script src="{{ asset('bundles/bootstrap/js/bootstrap.js') }}"></script>
			<script src="{{ asset('js/require.js') }}" data-main="js/main"></script>
		{% endblock %}
	</body>
</html>
